/* Header ra Footer Container lai halka */
.container {
  padding: 2.7rem;
  border-radius: 4px;
}

h5 {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}
/* Sakiyo container */
/* ----------------INDEX PAGE STARTS --------------------- */
/* NAVBAR */
.left-header {
  display: inline;
}

.logo {
  display: inline;
  float: left;
}

.right-header {
  float: right;
}
.menu > ul > li {
  display: inline;
  padding-right: 20px;
}

.menu > ul > li > a {
  font-weight: 500;
  font-size: 20px;
  line-height: 116.6%;
}

/* .menu:hover {
    transform: Scale(1.02);
  } */

.menu > ul > li > a:hover {
  transform: Scale(1.02);
}
/* Navbar Ends */

.header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 94.6%;
  text-align: center;
  letter-spacing: -0.06em;
  color: #000;
  padding-top: 90px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.description {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  opacity: 0.9;
  max-width: 588px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.index-buttons {
  max-width: 546px;
  margin-top: 40px;
  display: table;
  position: relative;
  transform: translate(-50%, 0%);
  left: 50%;
}

.button-index-one {
  font-weight: 504;
  padding: 1rem;
  border: 1px solid green;
  background: #fff;
  color: green;
}
.haha {
  background: green;
  color: #fff;
  padding: 1rem 4rem;
}

.title-bottom {
  margin-left: 65px;
  margin-top: 80px;
}
/* Middle Container */

.blocks {
  text-align: center;
}
.block {
  padding: 60px 50px;
  /* margin: 50px 125px 0 0px;  */
  display: inline-block;
  width: 33%;
  max-width: 380px;
  margin-right: 20px;
  margin-top: 20px;
}
/* Container middle ends */

/* Services Part */
/* Services Ends */

input {
  margin: 1rem 0;
  /* width: 100%; */
  padding: 0.5em;
  border-bottom: 1px solid grey;
}

.form-button {
  margin-top: 1rem;
  text-align: center;
  /*   background-color: red; */
}

/* button {
    border-radius: 4px;
    padding: 0.4rem;
  } */
/* 
  button:hover {
    background-color: rgba(97, 218, 49, 0.842);
    border: 1px solid rgba(97, 218, 49, 0.842);
    color: #fff;
  } */

/* a {
    color: grey;
    font-size: small;
    text-decoration: underline;
  } */

/* Footer */
footer {
  margin: 100px 0 0 0;
  text-align: center;
}

/* ----------------INDEX PAGE ENDS --------------------- */

/* -------------------ADMIN DASHBOARD ------------------ */
/* Search Button */
.btn-search {
  border-radius: 10px;
  padding: 0.5rem 2rem;
  box-shadow: 2px 2px 20px rgba(61, 51, 42, 0.3);
}

/* Salutation: Hello!! Sumi */
.salutation {
  padding: 20px 0 0 0;
}

/* Left Row re */
.left-row {
  width: 75%;
  display: inline;
  float: left;
  margin: 10px;
  padding: 0px 0px 0px 20px;
}
.right-row {
  display: inline-block;
  width: 23%;
  height: 45rem;
  padding: 20px 0 0 20px;
  margin: 20px 0px 0px 0px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgba(61, 51, 42, 0.3);
}

/* Doctors Patient Appointment ko count dekhaune section */

.countit {
  /* border: 1px solid green; */
  display: inline-block;
  width: 287px;
  height: 174px;
  margin-right: 22px;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgba(61, 51, 42, 0.3);
}
/* Image bhanya tara pachi graph dekhaune section */

.image-here {
  /* border: 1px solid green; */
  box-shadow: 2px 2px 20px rgba(61, 51, 42, 0.3);
  width: 920px;
  height: 174px;
  text-align: center;
  padding: 20px;
  margin: 20px 0 0 0;
}

/* Recent Activity */

.right-section-title {
  padding: 16px 0 0 0;
}

/* It has been extracted from countit box */
.right-list-items {
  width: unset;
  height: unset;
  margin: 20px 0 0 0;
  text-align: unset;
}
.right-list-items:hover {
  cursor: pointer;
  transform: scale(1.001);
}
/* Doctor Patioent Appointment ko list */
.list-item-bottom {
  text-decoration: underline;
  position: relative;
}

.list-item-bottom:hover {
  cursor: pointer;
  transform: scale(1.02);
}

/* Countit kei properties cha tara we changed something */
.list-item-bottom > a {
  position: relative;
  transform: translate(-50%, -50%);
  top: 35%;
}

/* ----------------LOGIN -------------------- */
.login-h1 {
  margin: 68px 0px 25px 0;
}

.form {
  display: table;
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  padding: 35px 0 35px 35px;
  box-shadow: 2px 2px 20px rgba(61, 51, 42, 0.3);
}
.login-button {
  padding: 0.75rem 7.5rem;
}

/* ----------------SIGNUP -------------------- */
.signup-h1 {
  margin: 48px 0px 25px 0;
}

/*---------------All APpointments----------------- */
table {
  width: 90%;
  display: table;
  margin: 0 auto;
}
th {
  background-color: green;
  color: #fff;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #d6eeee;
}

.signin-as {
  display: table;
  margin: 0 auto;
}

.choose-btn{
 padding: 65px 20px;
}
