.container {
    background-color: #fff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-out 0.1s;
}

.container:hover {
    box-shadow: 2px 2px 20px rgba(61, 51, 42, 0.3);
  }

  h5 {
    /*background-color:purple;*/
    color: #fff;
  }

  .menu > ul > li > a:hover {
    color: green;
  }

  /* Navbar Ends */

  .block{
    border: 1px solid green;
    color: #fff;
    background-color: green;
    cursor: pointer;
    display: inline;
    transition: all 0.3s ease-in-out 0.1s;
  }

  .block:hover {
    background-color: rgba(97, 218, 49, 0.842);
    border: 1px solid rgba(97, 218, 49, 0.842);
    color: #000;
  }
  /* Services Ends */

  input {
    color: darkgray;
    border: none;
    background: none;
  }

  input:focus {
    outline: none;
    color: grey;
  }

  ::placeholder {
    color: grey;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
  }

  /* button {
    color: #fff;
    cursor: pointer;
    border: 1px solid green;
    background: green;
    transition: all 0.3s ease-in-out 0.1s;
  } */
